name: filebrowser
services:
  filebrowser:
    image: filebrowser/filebrowser:{{ filebrowser_version }}
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - "{{ filebrowser_port }}:80"
    volumes:
      - /:/srv
      - ./filebrowser.db:/database/filebrowser.db
      - ./settings.json:/config/settings.json
    environment:
      - FB_DATABASE=/database/filebrowser.db
      - FB_CONFIG=/config/settings.json
