[Unit]
Description=Discord Redirection
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/sudo /usr/bin/docker compose -f {{ discord_redirection_directory }}/docker-compose.yml up
ExecStop=/usr/bin/sudo /usr/bin/docker compose -f {{ discord_redirection_directory }}/docker-compose.yml down
WorkingDirectory={{ discord_redirection_directory }}
User=deploy
Group=deploy

[Install]
WantedBy=multi-user.target
