name: glances
services:
  nginx:
    container_name: glances_nginx
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "{{ glances_port }}:80"
      - "{{ glances_api_port }}:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./auth/.htpasswd:/etc/nginx/.htpasswd:ro
    networks:
      - glances_network
    depends_on:
      - glances

  glances:
    image: nicolargo/glances:{{ glances_version }}
    container_name: glances
    restart: unless-stopped
    expose:
      - "61208"
      - "61209"
    environment:
      - TZ=${TZ}
      - GLANCES_OPT=-w
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock:ro
    pid: "host"
    networks:
      - glances_network

networks:
  glances_network:
    driver: bridge
