[Unit]
Description=Duplicati
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/sudo /usr/bin/docker compose -f {{ duplicati_directory }}/docker-compose.yml up
ExecStop=/usr/bin/sudo /usr/bin/docker compose -f {{ duplicati_directory }}/docker-compose.yml down
WorkingDirectory={{ duplicati_directory }}
User=deploy
Group=deploy

[Install]
WantedBy=multi-user.target
